.CenteredAlert {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.NoMovieFound {
  height: 50px;
  width: 200px;
}


.CenterCol{
  display: flex;
  justify-content: center;
  align-items: center;
}